.Navul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: center;
  }
  
.Navli {
    margin: 0 20px 0 10px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
  }



.NavulRightInline {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: center;
    display: inline;
  }

.NavulRightNone {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: center;
    display: none;
  }
